@model List<MyNotes.Models.Notes>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 15px;">User list</h2>

@{

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this note?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-delete" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <table id="notes" class="table table-sm table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-sm-1" scope="col">User</th>
                <th scope="col">Number of notes</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            @foreach (var note in Model)
            {
                <tr>
                    <td class="col-sm-1">@Html.ActionLink(note.Name.Length == 0 ? "Unnamed" : note.Name, "Edit", "Notes", new { id = note.Id }, new { @class = "nav-link" })</td>
                    <td>@Html.ActionLink(note.Content.Length.ToString(), "Edit", "Notes", new { id = note.Id }, new { @class = "nav-link" })</td>
                    <td><a data-note-id="@note.Id" class="btn btn-danger js-button" style="color: white;" data-toggle="modal" data-target="#confirmationModal">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#notes').DataTable();

            var item;

            $('#notes').on('click', '.js-button', function () {
                item = $(this);
            });

            $('.js-delete').on('click', function () {
                $.ajax({
                    url: 'api/notes/' + item.attr('data-note-id'),
                    method: 'DELETE',
                    success: function () {
                        table.row(item.parents('tr')).remove().draw();
                        toastr.success("Deleted!");
                    }
                });
            });
        });
    </script>
}